.App_auto-completes{
    max-width: 610px;
    margin: 0 auto;

    /* Then we define how is distributed the remaining space */
}

.App_auto-complete{
    margin: 8px;
    width: calc(100% / 3 - 24px)
}

