# See http://help.github.com/ignore-files/ for more about ignoring files.

#No idea project...
.idea

# dependencies
node_modules

# testing
coverage

# production
#need build dir for test heroku app
#build

# misc
.DS_Store
npm-debug.log
