:root{
    --ItemList_item-height: 48px;
}

.ItemList{
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ItemList_item{
    height: var(--ItemList_item-height);
    line-height: var(--ItemList_item-height);
    text-align: left;
}

.ItemList_item:hover, .ItemList_item--focused{
    background-color: #999999;
}